@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Oswald:wght@400;700&family=Poppins:wght@400;700&display=swap');

html{
    margin :0;
    padding :0;
}

*{
  font-family: 'Poppins', sans-serif;
}

.primary-button{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(to right, rgb(234, 0, 0), rgb(159, 97, 97));
  padding :12px 30px;
  border-radius: 30px;
  border: none;
}
.primary-button:hover{
  background: linear-gradient(to right, rgb(159, 97, 97), rgb(234, 0, 0));;
}
body{
  text-align: center;
}

/* ----Navbar---- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

nav .logo-container{
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo{
  width:100%;
}

/* home page */
.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom, rgba(147, 147, 147, 0.8)0%, rgba(39, 39, 39, 0.8)100%); ;
}